@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

:root {
  --text-font: Verdana, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --big-font: constantia, var(--text-font);
  --funny-fonts: 'cascadia code', 'Itim', var(--text-font);
  --margin-size: max(max(0vmin, env(safe-area-inset-left)), 4.1667vw);
}

#__next {
  height: 100%;
  width: 100%;
}

html,
body {
  /* background-color: #eee; */
  color: #0E1017;
  font-family: var(--text-font);
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #eee;
    background-color: #0E1017;
  }
}

