.nav {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  padding-top: 2.3611vw;
  margin-top: 0px;
  margin-bottom: 0px;
  z-index: 5;
  box-sizing: border-box;
  margin-left: var(--margin-size);
  margin-right: var(--margin-size);
}

.navbar {
  gap: 0px 8.3333vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav a,
.logo {
  width: 35vw;
  min-width: 300px;
}

.links {
  display: flex;
  justify-content: space-between;
}

.links ul {
  display: flex;
  gap: 56px;
  list-style: none;
  padding: 0 56px;
}

.links li a {
  color: var(--text-color);
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
}

.links li a:hover {
  color: var(--hover-color);
  border-bottom: 2px solid;
  opacity: 0.8;
}
